/* .container-fluid {
    width: 80%;
    align-items: start;
} */

/* .volunteer {
    display: flex;
    flex-wrap: wrap;
}

.volunteer > div {
    margin: 1px;
  } */

  .cursor-pointer{
    cursor: pointer;
  }
