nav {
    background-color: #fd6a02;
}

.navbar-brand {
    /* position: relative; */
    width: 90px;
    left: 15px;
    background-size: contain;
}

.links {
    width: 40%;
}

.navbar-collapse {
    flex-grow: 0 !important;
}

.nav-link {
    border-radius: 10px;
}

.nav-link:hover {
    background-color: white;
    color: #fd6a02;
    border-radius: 10px;
}