nav {
    background-color: #fd6a02;
}

.navbar-brand {
    /* position: relative; */
    width: 90px;
    left: 15px;
    background-size: contain;
}

.navbar-nav .dropdown-menu {
    position: absolute;
}

.links {
    width: 40%;
}

.navbar-collapse {
    flex-grow: 0 !important;
}

.nav-link {
    border-radius: 10px;
}

.nav-link:hover {
    background-color: white;
    color: #fd6a02;
    border-radius: 10px;
}

@media (max-width: 576px ) { 
    /* .button-toggle {
        top: 320px;
        right: 30px;
        position: relative;
    }
    .navbar-nav .dropdown-menu {
        top: 400px;
        position: relative;
    } */
    .dropdown {
        bottom: 0px;
        left: 230px;
    }
}