textarea {
    resize: none;
}

.post-btn {
    background-color: #ff781f;
    color: white; 
    border: 2px solid white;
}
  
.post-btn:hover {
    background-color: white;
    color: #ff781f; 
    border: 2px solid #ff781f;
}

.postImage {
    width: 95%;
}

.dropdown-toggle::after {
    content: none;
}

.width {
    width: 180px;
}

.border-popup {
    border-width: 2px;
    border-color: black;
    border-radius: 14px !important;
}

.title {
    margin-left: 2%;
}

.people {
        /* display: flex; */
        flex-wrap: wrap;
    }
    
.volunteer > div {
    margin: 23px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
    
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 992px ) { 
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 576px) {
    /* .dropdown {
        bottom: 315px;
        left: 20px;
    } */

    .dropdown-div {
        position: absolute;
        bottom: 370px;
        right: 35px;
    }

    .postImage {
        width: 90%;
    }

    .grid {
        display: flex;
        flex-direction: column;
    }
}