/* article {
    display: flex;
    justify-content: center;
} */

.postImage1 {
    width: 95%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(81, 81, 81);
}

.userImage {
    aspect-ratio: 1/1;
    max-width: 40px;
    max-height: 40px;
}

.userName {
    margin-left: 13px;
}

.user {
    width: 210px;
}

.user:hover {
    color: rgb(81, 81, 81);
}


.badge {
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 12px;
}

/* PostCreate */
.form-create-post{
    width: 50%;
}

.create-post-btn{
    background-color: #fd6a02;
    color: white;
    border: solid 2px #fd6a02;;
}

.create-post-btn:hover {
    background-color: white;
    color: #fd6a02;
    border: solid 2px #fd6a02;
}

@media (max-width: 992px ) { 
    .form-create-post{
        width: 80%;
    }
}

@media (max-width: 576px ) { 
    .form-create-post{
        width: 90%;
    }

    .userImage {
        max-width: 20px;
        max-height: 20px;
    }

    .userName {
        margin-left: 13px;
        font-size: 10px;
    }

    .postBody {
        margin-top: 15px;
    }
}