/* article {
    display: flex;
    justify-content: center;
} */
.userName {
    margin-left: 8px;
}

.postImage {
    width: 95%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(81, 81, 81);
}

.postImage {
    max-width: 340px;
    max-height: 240px;
}

.userImage {
    aspect-ratio: 1/1;
    max-width: 40px;
    max-height: 40px;
}

.user {
    width: 210px;
}

.user:hover {
    color: rgb(81, 81, 81);
}


.badge {
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 12px;
}

@media (max-width: 992px) {

}

@media (max-width: 576px) {
    .font {
        font-size: 12px;
    }

    .userImage {
        max-width: 25px;
        max-height: 25px;
    }

    .postBody {
        margin-top: 8%;
    }
}