.profile-col{
 background-color: #fd6a02;
}

.profile-img{
 height: 200px;
 width: 200px;
 border: black 2px 2px;
}

.tags{
 margin: 5px;
 padding: 1px 10px;
 cursor: pointer;
 border-radius: 30px;
}

.hands{
 margin: 10px;
}

.hands-circle{
 background: #FFDF8B;
 width: 200px;
 height: 200px;
 border-radius: 50%;
 display: flex;
 align-items: center;
 text-align: center;
 color: red;
 font-size: 30px;
 margin: 0 auto;
}

.post-num{
 background: #FFDF8B;
 width: 100px;
 height: 35px;
 display: flex;
 justify-content: center;
 align-items: center;
}
