/* Profile */
.profile-background{
 background: -moz-linear-gradient(top, #fd6a02 50%, #ffffff 50%);
 background: -webkit-linear-gradient(top, #fd6a02 50%,#ffffff 50%);
 background: linear-gradient(to bottom, #fd6a02 50%,#ffffff 50%);
}

.profile-img{
 height: 200px;
 width: 200px;
}

.tag{
 margin: 5px;
 padding: 1px 10px;
 border-radius: 30px;
 border: #edeaea solid 0.2px;
}

.hands{
 margin: 10px;
}

.hands h4{
 text-align: center;
}

.hands-circle{
 background: #FFDF8B;
 width: 150px;
 height: 150px;
 border-radius: 50%;
 display: flex;
 align-items: center;
 color: red;
 font-size: 40px;
 font-weight: 600;
 justify-content: center;
 align-items: center;
}

.post-num{
 background: #FFDF8B;
 width: 100px;
 height: 35px;
 display: flex;
 justify-content: center;
 align-items: center;
}

/* Profile-Post */
.profile-post-img{
 max-width: 250px;
}